
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100..900&display=swap');
@import "tailwindcss";
  @theme {
  --font-roboto-serif: "Roboto Serif", serif;
}
.roboto-serif-custom {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}
@import "tailwindcss";

